<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Garmin Login</mat-card-title>
      <mat-card-subtitle>
        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
        bla bla bla blabla bla bla blabla bla bla blabla bla bla blabla bla bla bla
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email">
            @if (addressForm.controls['email'].hasError('required')) {
              <mat-error>Email is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Password" formControlName="password">
            @if (addressForm.controls['password'].hasError('required')) {
              <mat-error>Password name is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button matButton="elevated" color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
